@use '../base/variables' as v;
@use '../base/mixins' as m;

.video {
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        background: rgb(215,33,175);
        background: linear-gradient(270deg, rgba(215,33,175,0.5) 0%, rgba(63,0,255,0.3) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video {
        display: block;
        width: auto;
        @include m.desktop {
            width: 100%;
        }
    }
}

.contenido-video {
    z-index: 10;

    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin-bottom: 0;
    }

    p {
        background-color: v.$rosa;
        margin-top: 0;
        color: v.$blanco;
        display: inline-block;
        padding: 1rem 2rem;
        font-weight: 700;
    }
}